POSTGRES_DB=financetracker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DB_URL=jdbc:postgresql://localhost:5432/financetracker
DB_USERNAME=postgres
DB_PASSWORD=postgres

JWT_SECRET=minHemmeligeNogleErMindst32TegnLang1234
